* {
  box-sizing: border-box;
}




body {
  margin: 0;
  font-family: 'Lucida Grande', tahoma,verdana,arial,sans-serif;

}
 
.navbar {
  width: 100%;
  height: 83px;
  background-color: #3b5998;
}

.navbarcontent {
  width: 950px;
  height: 55px;
  margin: 0 auto;
}

.tablewrapper {
  float: right;
  margin-top: 10px;
}
 h1 {
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 38px;
    letter-spacing:0.05px;
    margin: 0;
    color:#fff;
    -webkit-font-smoothing: antialiased;
    
  }

.logowrapper {
    padding: 15px 0;
}

.row1 {
  color: #fff;
  font-size: 11px;

}

.row2 {
    color: #fff;
    font-size: 11px;
}

.contentwrapper {
  background-color:whitesmoke ;
  margin:0;
  height: 800px;
  width:100%;

}

.content {
  display: flex;
  flex-direction: row;
  width: 950px;
  margin: auto;
}

.leftdisp {
  width: 450px;
  margin-right: 45px;
}

.inputsizehalf {
  width: 200px;
  margin-bottom: 15px;
  height: 25px;
  border: 1px solid;
}
.inputsizefull {
  width: 405px;
  margin-bottom: 15px;
  height: 25px;
  border: 1px solid;
  
}

select {
  margin-block: 15px;
  padding: 0;
}


  
#signup {
         
         background-color: rgb(122, 179, 36);
         text-align: center;
         width: 250px;
         border-radius: 5px;
         height: 50px;
         margin-top: 50px;
         font-size: 25px;
         color: white;
         box-shadow: 1px 1px 1px 1px black;
}



.blur {
  color: rgba(0,0,0,0.6);
  margin:0;
}


.infobtn {
  border:1px solid grey;
  color: whitesmoke;
  background-color: black;
  text-align: center;
  border-radius: 10px;
}